---
import CodeIcon from "@/components/icons/tech/Code.astro";
import ToolsIcon from "@/components/icons/tech/Tools.astro";

import Layout from "@/layouts/Layout.astro";

import Hero from "@/components/sections/Hero.astro";
import Certifications from "@/components/sections/Certifications.astro";

import AsideCard from "@/components/AsideCard.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import SectionTitle from "@/components/SectionTitle.astro";
import Bento from "@/components/sections/Bento.astro";

import { getI18N } from "@/i18n";
import GlowSection from "./react/GlowSection";
import ShowDetailsModal from "./react/show-details-modal";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <main class="w-full h-full max-w-6xl mx-auto">
    <SectionContainer id="about-me" class="pt-16 lg:pt-36 pb-2">
      <Hero
        badge={i18n.HERO_BADGE}
        about={i18n.HERO_ABOUT}
        country={i18n.HERO_COUNTRY}
      />
    </SectionContainer>

    <SectionContainer id="skills" class="pt-16">
      <div class="flex flex-col items-center md:flex-row gap-8">
        <GlowSection
          title={i18n.STACK_TITLE}
          description={i18n.STACK_DESCRIPTION}
          client:visible
        />
        <AsideCard />
      </div>
    </SectionContainer>

    <SectionContainer id="projects" class="pt-16">
      <SectionTitle class="text-2xl md:text-3xl font-semibold">
        <span>
          <CodeIcon class="inline-block size-8" />
        </span>
        {i18n.PROJECTS_TITLE}
      </SectionTitle>
      <Bento />
      <ShowDetailsModal client:only />
    </SectionContainer>

    <SectionContainer id="certifications" class="pt-16">
      <SectionTitle class="text-2xl md:text-3xl font-bold py-4">
        <span>
          <ToolsIcon class="inline-block size-8" />
        </span>
        {i18n.CERTIFICATION_TITLE}
      </SectionTitle>
      <Certifications />
    </SectionContainer>

    <SectionContainer id="about" class="lg:max-w-4xl py-16">
      <div class="flex flex-col gap-4 text-center">
        <!-- <SectionTitle class="text-2xl md:text-3xl font-semibold mb-0 md:mb-6">
          {i18n.ABOUT_TITLE}
        </SectionTitle> -->
        <div
          class="rounded-3xl
          border
          border-slate-200
          dark:border-neutral-800
          p-4
          md:p-6
          lg:p-8
          text-center
          dark:bg-gradient-to-t
          dark:from-neutral-800
          dark:to-neutral-800
          30"
        >
          <GlowSection
            title={i18n.ABOUT_TITLE}
            description={i18n.ABOUT_DESCRIPTION}
            descriptionTwo={i18n.ABOUT_DESCRIPTION_2}
            client:visible
          />
        </div>
      </div>
    </SectionContainer>

    <SectionContainer id="contact" class="p-16">
      <SectionTitle class="text-2xl md:text-3xl font-bold py-4">
        <span>
          <ToolsIcon class="inline-block size-8" />
        </span>
        {i18n.CONTACT_TITLE}
      </SectionTitle>
      <div class="flex flex-col gap-4">
        <p class="text-lg text-black/60 dark:text-gray-300">
          {i18n.CONTACT_MESSAGE}
        </p>
        <a href="mailto:alexfloresrayme@gmail.com" class="text-blue-500">
          Hello -->
        </a>
      </div>
    </SectionContainer>
  </main>
</Layout>
