---
import Github from "./icons/Github.astro";
import LinkIcon from "./icons/Link.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";

import { getI18N } from "../i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "text-black",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "text-black",
    icon: Tailwind,
  },
};
const PROJECTS = i18n.PROJECTS_ITEMS.map((project) => ({
  ...project,
  tags: project.tags.map((tag) => TAGS[tag as keyof typeof TAGS]),
}));
---

<div class="grid gap-5 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="rounded-xl border border-black py-4 px-6 max-w-[280px]">
        <h3 class="text-xl font-semibold text-green-500 mb-2">{title}</h3>
        <p class="text-sm mb-4 text-pretty">{description}</p>

        <img
          loading="lazy"
          class="rounded shadow-2xl shadow-white/10 aspect-auto pb-5"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        <div class="flex flex-col gap-y-2">
          <ul class="flex gap-2 flex-wrap mb-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex justify-center items-center gap-x-2 rounded-full bg-slate-100 text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
          <div class="flex justify-between px-2">
            <a
              href={link}
              target="_blank"
              rel="noopener noreferrer"
              class="text-green-500 hover:text-green-700 flex items-center gap-1 justify-center transition
              hover:scale-105 transform"
            >
              <span class="block">
                <LinkIcon class="size-7 inline-block" />
              </span>
            </a>
            <a
              href={github}
              target="_blank"
              rel="noopener noreferrer"
              class="text-green-500 hover:text-green-700 flex items-center gap-1 justify-center transition
              hover:scale-105 transform"
            >
              <span>
                <Github class="size-7 inline-block" />
              </span>
            </a>
          </div>
        </div>
      </article>
    ))
  }
</div>
