---
import { OpenButton } from "@/components/react/open-button";

const { class: className, padding, cover, name, description, id } = Astro.props;

const project = [
  {
    id: "vid-skool",
    name: "Vid Skool",
    description:
      "Gestión de videos: Subida, procesamiento y reproducción de contenido educativo Sistema de playlists: Creación y gestión de colecciones de videos Transcripciones automáticas: Generación de subtítulos para videos Área de estudio: Interfaz dedicada para educadores y creadores de contenido Autenticación de usuarios: Integración con Clerk para gestión de cuentas.",
    cover: "/vid-skool.png",
    stack: ["next", "neon", "Tailwind", "trpc"],
    github: "",
    website: "https://vid-skool.vercel.app/"
  },
  {
    id: "taskiflow-ai",
    name: "Taskiflow",
    description:
      "Aplicación para gestionar proyectos y tareas, mejorada con funciones de IA que optimizan la productividad (p. ej., subtareas sugeridas por IA y descripciones generadas automáticamente).",
    cover: "/taskiflow.png",
    stack: ["Next", "Clerk", "Tailwind", "trpc", "OpenAI", "zod"],
    github: "",
    website: "https://vid-skool.vercel.app/"
  },
  {
    id: "parallel",
    name: "Parallel",
    description:
      "App para equipos que permite la gestión de proyectos y tareas. con invitación de miembros a un workspace y diferentes roles. Con diferentes visualizaciones de tareas y proyectos.",
    cover: "/parallel.png",
    stack: ["Next", "drizzle", "Tailwind", "graphql", "postgre", "zod"],
    github: "",
    website: "https://vid-skool.vercel.app/"
  },
  {
    id: "only-food",
    name: "Track",
    description: "A b2b sass ai assistant for food delivery services.",
    cover: "/only-food.webp",
    stack: ["Next", "openai", "Tailwind", "trpc", "clerk", "zod"],
    github: "",
    website: "https://vid-skool.vercel.app/"
  },
  {
    id: "finance-dashboard",
    name: "Finance",
    description:
      "Finance Dashboard with NexJS14 to manage and add transactions, Changeable chart types & CSV transaction imports.",
    cover: "/finance.png",
    stack: ["drizzle", "clerk", "hono", "tailwind", "next", "zod"],
    github: "",
    website: "https://vid-skool.vercel.app/"
  }
];

const pro = project.find((p) => p.id === id) || project[0];
---

<div
  class={`${className} md:h-56 lg:h-96 w-full overflow-hidden rounded-lg shadow-lg border border-gray-200 dark:border-gray-700 relative bg-cover bg-no-repeat bg-center`}
>
  <div class="absolute top-0 right-0 p-4 z-10">
    <OpenButton client:only project={pro} />
  </div>
  <div class={`pt-8 ${padding} text-black/60 dark:text-white`}>
    <h2 class="text-xl font-bold">{name}</h2>
    <p class="text-sm text-gray-400">{description}</p>
  </div>
  <div class="p-4 flex justify-center items-center">
    <img src={cover} class={`bg-center rounded-lg h-[230px]`} />
  </div>
</div>
